
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}   

html {
    scroll-behavior: smooth;
}

#MAIN {
    text-align: center;
}

#PARALLAX {
    background-image: url("resources/space3.jpg");
    min-height: 300px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#AboutMe {
    /*background-image: linear-gradient(#453f47, #a5694d);*/
    width: 100vw;
    height: 925px;
}

#ProfilePic {
    position: relative; 
    left: 0; 
    right: 0;   
    margin-left: auto; 
    margin-right: auto;
    margin-top: 150px;
    height: min(18vw, 35vh);
    width: min(18vw, 35vh);
    border-radius: 50%;
}

#AboutHeader {
    position: relative;
    /* color: white; */
    color: black;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: 55px;
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto;
}

#AboutInfo {
    position: relative;
    text-align: center;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    /* color: rgb(230, 230, 230); */
    color: black;
    font-size: 17px;
    margin-top: 3vh;
    width: 60vw;
    min-width: 250px;
    padding: 0;
}

#AboutButtons {
    margin-top: 5vh;
    position: absolute;
    left: 50vw;
    margin-left: -226.5px;
}

#githubButton, #linkedinButton, #resumeButton {
    position: absolute;
    transition-duration: 0.6s;
    background-color: #555555;
    border: none;
    color: white;
    padding: 1.3vh 1.5vw;
    text-decoration: none;
    font-size: 17px;
    width: 151px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#githubButton {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 151px;
}


#linkedinButton {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-left: 151px;
    width: 165px;
}


#resumeButton {
    margin-left: 316px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 160px;
}

#githubButton:hover, #linkedinButton:hover, #resumeButton:hover {
    background-color: #e7e7e7; 
    color: black;
    cursor:pointer
}

#githubButton:focus, #linkedinButton:focus, #resumeButton:focus {
    outline: none;
}

#UNDERLINE {
    margin-bottom: 0;
    margin-top: -4vh;
    width: 600px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
}

#Education {
    background-image: white;
    width: 100vw;
    height: 800px;
}   

#EducationHeader {
    position: relative;
    /* color: white; */
    color: black;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: 55px;
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto;
}

#EducationLogo {
    width: 300px;
}

#EducationHistory {
    font-size: 17px;
    width: 45vw;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#AwardsHeader {
    margin-top: 3vh;
}

#AwardsUnderline {
    width: 150px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.8vh;
}

#AwardsList {
    width: 250px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top: 2vh;
}

#NotableCoursework {
    margin-top: 3vh;
}

#CourseUnderline {
    width: 350px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.8vh;
    margin-bottom: 1vw;

}

#ListOfCourses {
    width: 1100px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#CSList {
    float: left;
    display: table;
}

#MList {
    display: table;
    float: right;
}

#Projects {
    background-image: white;
    width: 100vw;
    height: 800px;
}   

